GHOSTPIXEL_APP_ENV=development
GHOSTPIXEL_DATA_ROOT=data/raw
GHOSTPIXEL_CHECKPOINT_PATH=checkpoints/stegonet.ckpt
GHOSTPIXEL_BACKBONE_NAME=efficientnet_v2_s
GHOSTPIXEL_IMAGE_SIZE=512
GHOSTPIXEL_NUM_CLASSES=4
GHOSTPIXEL_BATCH_SIZE=16
GHOSTPIXEL_NUM_WORKERS=4
GHOSTPIXEL_LEARNING_RATE=0.0003

